body {
  background-color: #f0ebe3;
}

h1 {
  color: #576f72;
}

h3 {
  color: #7d9d9c;
}

h2 {
  color: #7d9d9c;
}

hr {
  background-color: transparent;
  border-style: none;
  border-top-style: dotted;
  border-color: #576f72;
  border-width: 5px;
  width: 5%;
}

#profpic {
  height: 240px;
}

#profpic:active {
  height: 255px;
}